html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: " ";
  content: none; }

:focus {
  outline: 0; }

*:before {
  padding: 0;
  margin: 0; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.is-hidden {
  display: none; }

html, body {
  height: 100%; }

.page-wrap {
  margin-bottom: -6em;
  min-height: 100%; }
  @media screen and (max-width: 770px) {
    .page-wrap {
      margin-bottom: -6rem !important; } }

.page-wrap:after {
  display: block;
  content: "";
  z-index: -1; }

footer, .page-wrap:after {
  height: 6em; }
  @media screen and (max-width: 770px) {
    footer, .page-wrap:after {
      height: 6rem; } }

footer {
  padding: 1rem; }
  @media screen and (max-width: 770px) {
    footer {
      padding: 0.5rem 1rem; } }

body {
  font-family: Lora, Helvetica Neue, sans-serif;
  font-style: italic; }

.hp-app {
  margin: 0 auto;
  max-width: 64rem;
  padding: 0 1rem 2rem;
  color: #1F1304; }
  .hp-app__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 770px) {
      .hp-app__row {
        display: block; } }
  .hp-app__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .hp-app__col:first-child {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 50%;
              flex: 1 0 50%;
      border-right: 1px solid #aba78a; }
    .hp-app__col:last-child {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 50%;
              flex: 1 0 50%; }
    .hp-app__col .hp-heading {
      margin-bottom: 1.5em; }
    @media screen and (max-width: 770px) {
      .hp-app__col {
        -webkit-box-flex: 0;
            -ms-flex: none;
                flex: none;
        width: 100%;
        text-align: center; }
        .hp-app__col:first-child {
          border-right: 0; }
        .hp-app__col:last-of-type {
          border-top: 1px solid #96906d; } }
  @media screen and (max-width: 770px) {
    .hp-app {
      padding: 0 0.5rem 2rem; } }

.hp-inputs,
.hp-results,
.hp-error {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1rem 0; }

.hp-results {
  text-align: center; }
  @media screen and (max-width: 770px) {
    .hp-results {
      padding-top: 2rem; } }

.hp-result__group, .hp-result__divider, .hp-result__text {
  font-size: 1.25rem;
  margin-bottom: 1.5em; }

.hp-result__group {
  font-weight: 700; }

.hp-result__divider {
  text-transform: uppercase; }
  .hp-result__divider:before, .hp-result__divider:after {
    content: " - "; }

.hp-error {
  color: #FE3D42;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 1rem 4rem;
  text-align: center; }

.hp-instructions {
  font-size: 1em;
  line-height: 1.25; }
  .hp-instructions:last-child {
    margin-top: 1em; }

[data-visibility="proof"] [data-visibility="abv"] {
  display: none; }

[data-visibility="abv"] [data-visibility="proof"] {
  display: none; }

.hp-section--heading {
  padding: 3rem 0; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../../images/hp-bottles.svg") repeat-x top;
  background-size: auto 4em;
  padding: 0;
  color: #FFF1E2; }

.hp-footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 100%;
          flex: 0 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #1F1304;
  padding: 0.5rem 1rem;
  text-align: center; }
  .hp-footer a {
    color: #F6921E;
    text-decoration: none; }

.hp-info {
  text-align: center; }
  .hp-info li {
    margin-bottom: .75em; }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: currentColor; }
  .icon-cup {
    width: 1.5em; }

.hp-input {
  background: none;
  font-size: 1.25em;
  width: 1em;
  border: none;
  color: #6A664C;
  border-bottom: 0.15rem dashed #6A664C;
  text-align: center;
  line-height: .5;
  font-family: Homemade Apple, Helvetica Neue, sans-serif; }
  .hp-input__group {
    margin-bottom: 1em;
    font-size: 1.25rem; }
    .hp-input__group--buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .hp-input__label {
    margin-right: .5em; }
    .hp-input__label--buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .hp-input__unit .hp-buttongroup {
    font-size: .875rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; }
    .hp-input__unit .hp-buttongroup label {
      -webkit-box-flex: 1;
          -ms-flex: auto;
              flex: auto;
      margin-left: 0.5rem; }
    .hp-input__unit .hp-buttongroup .icon {
      display: block;
      margin: .5em auto;
      font-size: 1.75em; }
  .hp-input__unit--buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    padding: 0 1rem; }

.hp-button__conversion {
  margin-top: .5em;
  display: block; }
  .hp-button__conversion:before {
    content: "{";
    margin-right: .1em; }
  .hp-button__conversion:after {
    content: "}";
    margin-left: .1em; }

.has-error {
  background: rgba(254, 61, 66, 0.3); }

.hp-buttongroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  font-weight: 700;
  font-size: 1rem; }
  .hp-buttongroup--main {
    font-size: 1.25rem;
    margin-top: 2.5rem;
    width: 100%; }
  .hp-buttongroup label {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    text-align: center;
    padding: .5em;
    color: #3E2508;
    border: 1px solid #3E2508;
    cursor: pointer; }
  .hp-buttongroup input {
    position: absolute;
    left: -999px; }
  .hp-buttongroup input:checked + label {
    background: #3E2508;
    color: #FFF1E2; }
  .hp-buttongroup--noborder label {
    border: 0;
    padding: 0.75rem 0.5rem;
    margin-right: 0;
    border-radius: .5em;
    color: #bbb3a9; }
  .hp-buttongroup--noborder input:checked + label {
    background: none;
    color: #3E2508; }

.hp-select {
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  width: auto;
  height: 2.875em;
  margin-left: .35em;
  background: white url(../images/down.svg) no-repeat;
  padding: .5em 1.5em .5em .5em;
  background-position: right 50%;
  line-height: 1.75;
  border-bottom: 0.15rem dashed #6A664C; }
  .hp-select select {
    margin: 0;
    padding: 0;
    width: 120%;
    height: 1.5em;
    border: 0;
    background: transparent;
    -webkit-appearance: none;
    color: #6A664C;
    font-family: Lora, Helvetica Neue, sans-serif; }
    .hp-select select:focus {
      outline: none; }
    .hp-select select:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000; }

.hp-button {
  width: auto;
  width: intrinsic;
  background-color: #4A90E2;
  border: 0;
  color: white;
  display: block;
  width: 100%;
  padding: .5em;
  font-size: 1.25em; }
  .hp-button--block {
    margin: 1em 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0; }

.hp-ingredient {
  counter-increment: ingredients;
  position: relative; }
  .hp-ingredient::before {
    content: counter(ingredients);
    position: absolute;
    top: 50%;
    left: -1.5em; }
  .hp-ingredient .hp-input {
    width: 100%; }
  .hp-ingredient__list {
    -ms-flex-item-align: start;
        align-self: flex-start;
    counter-reset: ingredients; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

h1, h2, h3, h4, h5 {
  margin-bottom: .75em;
  line-height: 1.2; }

.hp-header {
  padding: 1rem 0;
  text-align: center;
  color: #FFF1E2;
  background: #F6921E url("../../images/hp-bottles.svg") repeat-x bottom;
  background-size: auto 4em;
  margin: 0;
  overflow: auto; }

.hp-subheader {
  padding: 3rem 1rem;
  background: #1F1304;
  color: #FFF1E2;
  text-align: center; }
  .hp-subheader .hp-heading--subheading {
    color: #FFF1E2; }

.hp-heading {
  font-family: Raleway, Helvetica Neue, sans-serif;
  letter-spacing: .075em;
  text-transform: uppercase;
  color: #3E2508;
  text-align: center;
  font-style: normal; }
  .hp-heading--logo {
    color: #FFF1E2;
    margin-bottom: 2em; }
    .hp-heading--logo svg {
      height: 5em;
      width: auto;
      fill: currentColor; }
