.hp-input {
    background: none;
    font-size: 1.25em;
    width: 1em;
    border: none;
    color: $info;
    border-bottom: .15rem dashed $info;
    text-align: center;
    line-height: .5;
    font-family: $font-family-script;
    
    &__group {
        margin-bottom: 1em;
        font-size: 1.25rem;
        
        &--buttons {
            display: flex;
        }

        &--center {
            text-align: center;
        }
    }

    &__label {
        margin-right: .5em;
        
        &--buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    &__unit {
        .hp-buttongroup {
            font-size: .875rem;
            flex: 0 1 auto;
            
            label {
                flex: auto;
                margin-left: spacer(.5);
            }
            
            .icon {
                display: block;
                margin: .5em auto;
                font-size: 1.75em;
            }
        }

        &--buttons {
            display: flex;
            flex-wrap: wrap;
            flex: auto;
            padding: 0 spacer(1);
        }
    }
    
    &--ingredient {
        text-align: left;
        width: auto;
        padding-left: .5em;
        text-indent: .5em;
        
        &::-webkit-input-placeholder { 
            line-height: 2;
        }
        
        &::-moz-placeholder { 
            line-height: 2;
        }
        
        &:-ms-input-placeholder { 
            line-height: 2;
        }
        
        &::-ms-input-placeholder { 
            line-height: 2;
        }
        
        &:placeholder-shown { 
            line-height: 2;
        }        
    }
}

.hp-button__conversion {
    margin-top: .5em;
    display: block;  
    
    &:before {
        content: "{";
        margin-right: .1em;
    } 

    &:after {
        content: "}";
        margin-left: .1em;
    } 
}

.has-error {
    background: transparentize($alert, .7);
}

.hp-buttongroup {
    $bg-color: $default;

    display: flex;
    width: auto;
    font-weight: 700;
    font-size: 1rem;
    
    &--main {
        font-size: 1.25rem;
        margin-top: spacer(2.5);    
        width: 100%;
    }
    
    label {
        display: block;
        flex: 1 0 50%;
        text-align: center;
        padding: .5em;
        color: $bg-color;
        border: 1px solid $bg-color;
        cursor: pointer;
    }
    
    input {
        position: absolute;
        left: -999px;
    }

        input:checked + label {
            background: $bg-color;
            color: $white;
        }
    
    &--noborder {
        
        label {
            border: 0;
            padding: spacer(.75) spacer(.5);
            margin-right: 0;
            border-radius: .5em; 
            color: tint($default, 65%);
        }    

        input:checked + label {
            background: none;
            color: $default;
        }
    }    
}

.hp-select {
    display: inline-block;
	vertical-align: top;
	position:relative;
	overflow: hidden;
	width: auto;
	height: 2.875em;
	margin-left: .35em;
	background: white url(../images/down.svg) no-repeat;
	padding: .5em 1.5em .5em .5em;
	background-position: right 50%;
	line-height: 1.75;
    border-bottom: .15rem dashed $info;

    select {
    	margin:0;
    	padding:0;
    	width:120%;
    	height:1.5em;
    	border:0;
    	background:transparent;
    	-webkit-appearance:none;
        color: $info;
        font-family: $font-family-serif;

        &:focus {
        	outline:none;
        }
        
        &:-moz-focusring {
        	color:transparent;
        	text-shadow:0 0 0 #000;
        }
    }
}


.hp-button {
    width: auto;
    background-color: $secondary;
    border: 0;
    color: white;
    padding: .5em;
    font-size: 1.25em;
    
    &--block {
        margin: 1em 0;
    }
    
    &--add {
        background-color: transparent;
        color: $black;
    }

    &--submit {
        margin-top: spacer(1);
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    -moz-appearance: none;
    margin: 0; 
}

.hp-ingredient {
    counter-increment: ingredients;
    position: relative;
    
    &::before {
        content: counter(ingredients);
        position: absolute;
        top: 50%;
        left: -1.5em;
    }

    &__list {
        align-self: flex-start;        
        counter-reset: ingredients;
    }
}