.hp-selector {
    @include outer-container;
    
    &__option {
        text-align: center;
        @include span-columns(6);    
    }
    
    &__link {
        text-decoration: none;
        font-size: 2em;
        color: $black;
    }
}