$primary: #F6921E;
$default: #3E2508;
$info: #6A664C; 
$black: #1F1304;
$white: #FFF1E2;

$font-family-serif: Lora, Helvetica Neue, sans-serif;
$font-family-heading: Raleway, Helvetica Neue, sans-serif;
$font-family-script: Homemade Apple, Helvetica Neue, sans-serif;